.msg {
  position: absolute;
  right: 8px;
  bottom: 8px;
  left: 8px;
  z-index: 10;

  display: flex;
  max-height: calc(100% - 80px);
  min-height: 40px;
  color: var(--color);

  background-color: var(--bg-color);
  border: 1px solid var(--color);
  border-radius: 6px;
  box-shadow: 0 4px 16px rgb(0 0 0 / 18%);

  align-items: stretch;
}

.msg.error {
  --color: #f56c6c;
  --bg-color: #fef0f0;
}

.msg.warn {
  --color: #e6a23c;
  --bg-color: #fdf6ec;
}

.dark .msg.error,
.ims-playground.dark .msg.error {
  --color: #f56c6c;
  --bg-color: #3b1f1f;
}

.dark .msg.warn,
.ims-playground.dark .msg.warn {
  --color: #e6a23c;
  --bg-color: #3b2f1a;
}

.msg pre {
  padding: 12px 28px 12px 14px;
  margin: 0;
  overflow: auto;
  white-space: break-spaces;
  font-size: 12px;
  line-height: 1.5;
}

.msg .dismiss {
  position: absolute;
  top: 6px;
  right: 6px;

  display: block;
  width: 18px;
  height: 18px;
  padding: 0;

  font-size: 9px;
  line-height: 18px;
  color: var(--bg-color);

  text-align: center;
  cursor: pointer;
  background-color: var(--color);
  border: none;
  border-radius: 9px;
}
